<div class="responsive_table card border-0 shadow-lg my-3">
  <div class="card-body p-0">
    <div class="card-body responsive_table__main">
      <div class="container-fluid p-0">
        <div class="row no-gutters">
          <div class="col-sm-12">
            <table class="table table-bordered responsive_table__data responsive_table__data--{{ responsive }} js--responsive_table__data">
              <thead>
              <tr role="row">
                {% for setting in settings %}
                  <th>{{ setting.title }}</th>
                {% endfor %}
              </tr>
              </thead>
              <tbody>
              {% for tr in data %}
                <tr role="row">
                  {% for setting in settings %}
                    <td>
                      {% for key, value in tr %}
                        {% if key == setting.name %} {# check current column in settings #}
                          {# start check type #}
                          {% if setting.type == 'doctor_info' %}
                            {% include '@App/components/ui/doctor_card/doctor_card.twig' %}
                          {% elseif setting.type == 'badge' %}
                            {% if value is iterable %}
                              <span class="badge badge-{{ value.mode }}"> {{ value.text }} </span>
                            {% else %}
                              <span class="badge badge-dark"> {{ value }} </span>
                            {% endif %}
                          {% elseif setting.type == 'link' %}
                            <a href="{{ value.url }}">{{ value.text }}</a>
                          {% else %}
                            {{ value }}
                          {% endif %}
                          {# end check type #}
                        {% endif %}
                      {% endfor %}
                    </td>
                  {% endfor %}
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="container-fluid">
          <div class="d-flex justify-content-between flex-wrap responsive_table__footer">
            <div class="responsive_table_size">
              <label class="d-flex align-items-center responsive_table_size__select">
                <span>Выводить&nbsp;по:</span>
                <select
                  class="custom-select custom-select-sm form-control form-control-sm ml-2">
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
              </label>
              <div role="status" aria-live="polite">
                <strong>1</strong> из <strong>10</strong> (57 всего)
              </div>
            </div>
            <div class="d-flex justify-content-md-end">
              {% include '../../components/pagination/pagination.twig' %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
