{% if element is defined %}
  <div class="forms_element{% if class is defined %} {{ class }}{% endif %}{% if button_position is defined %}{% if button_position == 'middle' %} forms_element--button{% endif %}{% endif %}">
    {% if label is defined %}
      {% if label.for is defined %}
        <label{% if label.for%} for="{{ label.for }}"{% endif %}>{{ label.text }}</label>
        {{ element }}
      {% else %}
        <label>
          <span>{{ label }}</span>
          {{ element }}
        </label>
      {% endif %}
    {% else %}
      {% if button_position is defined %}
        {% if button_position == 'middle' %}
          <div class="forms_element__button_margin"></div>
        {% endif %}
      {% endif %}
      {{ element }}
    {% endif %}
    <div class="forms_element__message"></div>
  </div>
{% endif %}
